.App {
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

.search-form{
  min-height: 10vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border:none;
  padding: 10px;
}

.search-button{
  border:none;
  padding: .74em 1.5em;
  background-color: lightcoral;
  cursor: pointer;
}

.recipies{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}